* {
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  box-sizing: border-box;
  margin: 0.1rem;
  border: 1px solid #0b2e33;
  border-radius: 5px;
}
.left {
  width: 25%;
  background-color: #b8e3e9;
  overflow: auto;
}
.right {
  width: 75%;
}

h1 {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #fff;
  padding: 0.5rem 0;
  margin: 0.5rem 0.3rem 0 0.3rem;
  border-radius: 2rem;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  text-align: center;
}

ul {
  padding: 1rem;
  list-style: none;
}

.list {
  padding: 1rem;
}

.list div {
  padding: 1rem 0;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.264);
}

.list div a {
  color: #0b2e33;
  font-family: "Parkinsans", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
}
.list div p {
  color: #586a6c;
  font-family: "Parkinsans", sans-serif;
}
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: #0b2e33;
  border-radius: 0;
}

div.leaflet-popup-content-wrapper {
  margin: 0;
  padding: 0;
}
div.leaflet-popup-content-wrapper h3 {
  padding: 1rem;
  background-color: #0b2e33;
  color: #b8e3e9;
  font-size: 1.5rem;
  font-family: "Parkinsans", sans-serif;
}
div.leaflet-popup-content-wrapper p {
  font-family: "Parkinsans", sans-serif;
  font-size: 1rem;
  margin: 0.9rem;
  padding: 0 1.5rem;
}
div.leaflet-popup-content-wrapper .detail{
    color: rgb(250, 75, 5);
}
div.leaflet-popup-content {
  margin: 0;
  padding: 0 0 0.6rem 0;
}
@media (max-width: 768px) {
  /* Mobile styles */
 ul.list{
    padding: 0 3rem;
 }
  .container{
    display: flex;
    flex-direction: column-reverse;
  }
  .left{
    width: 100%;
    height: 30%;
  }
  .right{
    width: 100%;
    height: 70%;
  }
  div.state-list{
    padding: 0.2rem;
  }
  .list div a{
    font-size: 1rem;
  }
}